/* Top Nav */
div.topnav{
    position: relative;
    width: 1415px;
    height: 75px;

    background: #FFFFFF;
}

/* Rectangle */
#rectangle{
    position: absolute;
    width: 1415px;
    height: 75px;
    left: -5px;
    top: 0px;

    background: #B83336;
}

/* Line */
div.line{
    position: absolute;
    width: 1282px;
    height: 0px;
    left: 0px;
    top: 75px;

    border: 3px solid #BABABA;
}

/* Round Button - Next Step  */
div.roundButton{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1316px;
    top: 20px;
}


/* Ellipse */
#EllipseName{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 50%;

    background: #FFFFFF;
}

/* JO */
#JO{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26%;
    bottom: 24%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;

    color: #B83336;
}

/* AGW Flag Logo White */
div.Flag{
    position: absolute;
    width: 604px;
    height: 218px;
    left: -42px;
    top: -14px;
}

/* START CODE FOR Header 1 */
h1{
    position: absolute;
    width: 213px;
    height: 30px;
    left: 210px;
    top: 20px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    
    color: #FFFFFF;
}


/* Vector */
img{
    position: absolute;
    width: 200.79px;
    height: auto;
    left: 20.02px;
    top: 15px;

    /*background: #FFFFFF;*/
}
/* Group */
div.group{
    position: absolute;
    width: 268.79px;
    height: 180.8px;
    left: 20.02px;
    top: -14px;
}



/* Progress - 01 */
div.progress1{
    position: relative;
    width: 1355px;
    height: 100px;

    background: #FFFFFF;
}

/* Welcome Round Button */
div.welcomeRoundButton{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 45px;
    top: 20px;
}


/* Ellipse */
#EllipseRed{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 50%;

    background: #B83336;
}

/* 1 */
#Number1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26%;
    bottom: 24%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;

    color: #FFFFFF;
}

/* Round Button - Next Step  */
div.teamsRoundButton{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 321px;
    top: 20px;
}


/* Ellipse */
#Ellipse{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-radius: 50%;

    background: #BABABA;
}

/* 2 */
#Number2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26%;
    bottom: 24%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;

    color: #FFFFFF;
}

/* Round Button - Next Step  */
div.theGameButton{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 637px;
    top: 20px;
}

/* 3 */
#Number3{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26%;
    bottom: 24%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;

    color: #FFFFFF;
}

/* Round Button - Next Step  */
div.gameDayButton{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 949px;
    top: 20px;
}

/* 4 */
#Number4{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26%;
    bottom: 24%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;

    color: #FFFFFF;
}

/* Welcome 1 */
#WelcomeText{
    position: absolute;
    width: 87px;
    height: 22px;
    left: 109px;
    top: 34px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;

    color: #000000;
}

/* Teams 1 */
#TeamText{
    position: absolute;
    width: 60px;
    height: 22px;
    left: 388px;
    top: 34px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;

    color: #000000;
}

/* The Game 1 */
#TheGameText{
    position: absolute;
    width: 94px;
    height: 22px;
    left: 704px;
    top: 34px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;

    color: #000000;
}

/* Game Day 1 */
#GameDayText{
    position: absolute;
    width: 96px;
    height: 22px;
    left: 1016px;
    top: 34px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;

    color: #000000;
}

/* Line */
#LongLine{
    position: absolute;
    width: 1282px;
    height: 0px;
    left: 10px;
    top: 83px;

    border: 3px solid #BABABA;
}

/* Red Line */
#RedHighlight{
    position: absolute;
    width: 301px;
    height: 0px;
    left: 640px;
    top: 83px;

    border: 3px solid #B83336;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*CODE FOR STICKMAN */

/* StickMan_04 */
div.StickMan{
    position: absolute;
    width: 97.47px;
    height: 161.54px;
    left: 878px;
    top: 255px;
}

/* CODE FOR WELCOME TEXT */
#Welcome {
    position: absolute;
    width: 523px;
    height: 30px;
    left: 80px;
    top: 209px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;

    color: #000000;
}

/* CODE FOR TEXT BODY */
/* Edit Box Title */
#textBody{
    position: absolute;
    width: 750px;
    height: 212px;
    left: 82px;
    top: 255px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 17px;

    color: #000000;
}

/* CODE FOR BUTTON */
div.continueButton{
    position: absolute;
    width: 150px;
    height: 60px;
    left: 1180px;
    top: 200px;
}


/* Rectangle */
div.ContinueRectagle{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #B83336;
    border-radius: 5px;
}

/* CODE FOR CONTINUE BUTTON */
div.continueButton{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1201px;
    top: 2543px;
}


/* Rectangle */
div.ContinueRectangle{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #B83336;
    border-radius: 5px;
}

/* Continue */
#ContinueText{
    position: absolute;
    left: 20.67%;
    right: 20.67%;
    top: 24%;
    bottom: 26%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    background: #B83336;
    color: #FFFFFF;
}

/*CODE FOR PREVIOUS BUTTON */

/* Button */
div.previousButton{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 85px;
    top: 2543px;
}


/* Rectangle */
div.PreviousRectangle{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #B83336;
    border-radius: 5px;
}

/* Previous */
#PreviousText{
    position: absolute;
    left: 20.67%;
    right: 20.67%;
    top: 24%;
    bottom: 26%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    background: #B83336;
    color: #FFFFFF;
}

button{
    border-style: none;
    outline-style: none;
}

/* CODE FOR SUBHEADER TEXT AND BODY */ 

/* Header 1 */
#subHeaderText{
    position: absolute;
    width: 123px;
    height: 30px;
    left: 82px;
    top: 467px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;

    color: #000000;
}

#subheaderBody{
    position: absolute;
    width: 1280px;
    height: 41px;
    left: 82px;
    top: 504px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;

    color: #B83336;
}

/* CODE FOR TEXT INPUT AND TITLE */
/* Text Entry Field Filled */

/* Edit Box Title */
#editBoxTitle{
    position: absolute;
    width: 470px;
    height: 26px;
    left: 82px;
    top: 569px;
    bottom: 15.38%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;

    color: #000000;
}

/* Edit Box Default */
form{
    position: absolute;
    width: 870px;
    height: 26px;
    left: 200px;
    top: 569px;
    bottom: 15.38%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;

    color: #000000;
}


/* Rectangle */
#textInputRectangle{
    position: absolute;
    width: 470px;
    height: 26px;
    left: 125px;
    top: 569px;
    left: 18.92%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    border: 1px solid #000000;
    box-sizing: border-box;
}

mark.red {
    color: #B83336;
    background: none;
}

mark.gray{
    color: #737373;
    background: none;
}

/* CODE FOR ACTIVITY LOCATION */
/* Header 1.2 */
div.bottomHeader{
    position: absolute;
    width: 123px;
    height: 30px;
    left: 80px;
    top: 620px;
}

/* Header 1 */
div.bottomHeaderText{
    position: absolute;
    left: 0%;
    right: 43.9%;
    top: 0%;
    bottom: 26.67%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;

    color: #000000;
}

#bottomHeaderBody{
    position: absolute;
    width: 1280px;
    height: 41px;
    top: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;

    color: #000000;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* CODE FOR PROP LIST */
/* Prop List */
div.PropList{
    position: absolute;
    width: 283px;
    height: 228px;
    left: 1075px;
    top: 255px;
}


/* Rectangle */
#PropRectangle{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #E5E5E5;
}

/* Edit Box Title */
#PropTitle{
    position: absolute;
    width: 63px;
    height: 18px;
    left: 111px;
    top: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #000000;
}


/* Edit Box Title */
#PropList{
    position: absolute;
    width: 210px;
    height: 120px;
    left: 35px;
    top: 58px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #000000;
}

#PropLine{
/* Line */

    position: absolute;
    width: 232px;
    height: 0px;
    left: 26px;
    top: 44px;

    border: 1px solid #BABABA;
}

#Puzzle6LocationClue {
    position: absolute;
    top: 740px; 
    left: 0px;
}

#Puzzle6LocationBox{
    position: absolute;
    width: 300px;
    left: 170px;
    top: 740px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;

    color: #737373;
}

#FarBottomText{
    position: absolute;
    width: 923px;
    height: 35.81px;
    left: 85px;
    top: 2311px;
}

#Puzzle5Graphic{
    position: absolute;
    left: 600px;
    top: 1450px;
    height: 1300px;
    width: auto;
}